$mainColor: #1d7875;
$activeMainColor: #79dad6;
$shadow: rgba(0, 0, 0, 0.5);

$red: #e91b1b;
$redActive: #db5454;

$addButton: #4582ff;
$addButtonActive: #a3b8e4;

$gray: #cccccc;
$white: #ffffff;

$tableHeader: #f2f4f3;